<!-- Content Header (Page header) -->
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>DataTables</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">DataTables</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">DataTable with default features</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <div class="row">
                            <div class="col-sm-12 col-md-6">

                                <div class="form-inline">
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control input-search" placeholder="Search"
                                            #search (keyup)="applyFilter(search.value)" autocomplete="off">
                                        <div class="input-group-append" *ngIf="search.value.length > 0">
                                            <button class="btn btn-flat" type="button" (click)="clearFilter(search)"
                                                data-toggle="tooltip" data-placement="top" title="Clear">
                                                <span><i class="fa fa-times" style="color: red;"></i></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort
                                    class="table table-bordered table-striped">
                                    <!-- Index Column -->
                                    <ng-container matColumnDef="index">
                                        <th mat-header-cell *matHeaderCellDef style="width: 5%;"> Index </th>
                                        <td mat-cell *matCellDef="let element" style="width: 5%;">
                                            {{dataSource.filteredData.indexOf(element) + 1}} </td>
                                        <td mat-footer-cell *matFooterCellDef> Index </td>
                                    </ng-container>
                                    <!-- firstName Column -->
                                    <ng-container matColumnDef="firstName">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{element.firstName}}</td>
                                        <td mat-footer-cell *matFooterCellDef> First Name </td>
                                    </ng-container>
                                    <!-- lastName Column -->
                                    <ng-container matColumnDef="lastName">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
                                        <td mat-cell *matCellDef="let element">
                                            {{element.lastName}}</td>
                                        <td mat-footer-cell *matFooterCellDef> Last Name </td>
                                    </ng-container>

                                    <!-- Row shown when there is no matching data. -->
                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="3">No data matching the filter "{{search.value}}"
                                        </td>
                                    </tr>


                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let element; columns: displayedColumns;">
                                    </tr>
                                    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>



                                </table>
                                <mat-paginator [pageSizeOptions]="[9, 19, 29]" showFirstLastButtons></mat-paginator>
                            </div>
                        </div>

                    </div>
                    <!-- /.card-body -->

                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->


    </div>
    <!--/. container-fluid -->
</section>
<!-- /.content -->